/* Universal Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font Settings */
:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
:root { font-family: 'Inter var', sans-serif; }
}

/* Global Settings */
:root {
  --bg-color: #fcfbfa;
  --error-color: #BF8C8C;
  --edit-color: #CBB8A9;
  --hover-color: #DEDCD5F5;
  --button-submit-color: #6F686D;
  --font-size-header: 30px;
  --font-size-subheading: 24px;
  --font-size-input-labels: 18px;
  background-color: var(--bg-color);
}

/* Flex Sections */

.container {
  display: flex;
  align-items: center;
  height: 100%;
}

.page {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 95%;
}

.section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
  /* align-items: center; */
}

.header {
  height: auto;
  /* background-color: #B2D6FF; */
  font-size: var(--font-size-header);
  margin-bottom: 10px;
}

.sign-up {
  /* background-color: #EAEDF0; */
  font-size: 12px;
  height: auto;
  padding-bottom: 60px;
  font-size: var(--font-size-subheading)
}

.input-header {
  font-size: var(--font-size-input-labels);
  margin-bottom: 5px;
}

.firstname, .lastname, .username, .password {
  /* background-color: #D6E9FE; */
  height: 50px;
  margin-bottom: 20px;
}

.sign-in {
  /* background-color: #F09A9D; */
  height: 50px;
  width: 100%;
}

.search {
  margin-bottom: 20px;
  height: 60px
}

.result {
  height: 30px;
}

/* Elements CSS */

img {
  max-width: 90%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

input[type="search"] {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: var(--background-color);
  text-align: left;
  font-size: 16px;
  width: 100%;
  margin-bottom: 2%;
  border-radius: 5px;
  border: none;
}

a {
  color: #000000;
  text-decoration: underline;
}

/* Buttons */

.enterButton {
  display: block;
  width: 100%;
  border: none;
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.actionButtons {
  /* width: 100%; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.addContactButton, .logoutButton {
  display: block;
  width: 100%;
  border: none;
  background-color: var(--bg-color);
  /* color: var(--bg-color); */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

/* Contact Page */

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.menu-username {
  font-weight: bold;
}

/* Search Bar */

input:focus {
  outline:none;
}

/* Contact Form */

.contact-form {
  /* background-color: #F6F7F8;
  border: 1px solid #D6D9DC; */
  /* border-radius: 3px; */
  
  width: 80%;
  /* padding: 50px; */
  margin: 40px 0 40px 0;
}

.form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type='text'],
.form-row input[type='email'] {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: var(--background-color);
  padding: 10px;
  border: none;
  width: 100%;
  font-size: 14px;
}

.form-row input[type='text']:invalid,
.form-row input[type='email']:invalid {
  border-left: 5px solid var(--error-color);
  border-radius: 3px;
  /* padding: 5px; */
  /* color: #D55C5F; */
  box-shadow: none; /* Remove default red glow in Firefox */
}

.form-row button {
  font-size: 16px;
  font-weight: bold;

  color: #FFFFFF;
  background-color: #5995DA;

  border: none;
  border-radius: 3px;

  padding: 10px 40px;
  cursor: pointer;
}

.form-row button:hover {
  background-color: #76AEED;
}

.form-row button:active {
  background-color: #407FC7;
}

/* Table */

table {
  table-layout: fixed;
  width: 100%;
  /* border: 1px solid #8d8c8d; */
  border-radius: 5px;
  /* background-color: #f6f6f6; */
}

#contacts th {
  padding: 15px;
  text-align: center;
}

#contacts td {
  padding: 10px;
  text-align: left;
  font-family: 'IBM Plex Sans', sans-serif;
  vertical-align: middle;
  font-size: 15px;
}

#contacts td span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  font-size: 100%;
}

#contacts input {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: var(--edit-color);
  text-align: left;
  vertical-align: middle;
  font-size: 15px;
  width: 100%;
  /* margin-bottom: 2%; */
  border-radius: 5px;
  border: none;
  padding: 5px;
}

#contacts button,
.actionButtons button {
  background-color: var(--background-color);
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  transition: ease-in;
  transition-duration: 0.3s;
}

#contacts button:hover,
.actionButtons button:hover {
  background-color: var(--hover-color);
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .page {
      width: 80%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
      width: 65%;
  }
}
