/* Universal Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font Settings */
:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

/* Global Settings */
:root {
    --font-size-header: 30px;
    --font-size-subheading: 24px;
    --font-size-input-labels: 18px;
}

/* Flex Sections */

.container {
    display: flex;
    align-items: center;
    height: 100%;
}

.page {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 95%;
}

.section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    /* align-items: center; */
}

.image {
    justify-content: center;
    display: none;
    border-radius: 40px;
    height: 90%;
}

.header {
    height: auto;
    /* background-color: #B2D6FF; */
    font-size: var(--font-size-header);
    margin-bottom: 10px;
}

.sign-up {
    /* background-color: #EAEDF0; */
    font-size: 12px;
    height: auto;
    padding-bottom: 60px;
    font-size: var(--font-size-subheading)
}

.input-header {
    font-size: var(--font-size-input-labels);
    margin-bottom: 5px;
}

.firstname, .lastname, .username, .password {
    /* background-color: #D6E9FE; */
    height: 50px;
    margin-bottom: 20px;
}

.sign-in {
    /* background-color: #F09A9D; */
    height: 50px;
    width: 100%;
}

.result {
    height: 30px;
}

/* Elements CSS */

img {
    max-width: 90%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

input[type="text"],input[type="password"]{
    text-align: left;
    font-size: 18px;
    width: 100%;
    margin-bottom: 2%;
}

a {
    color: #000000;
    text-decoration: underline;
}

.enterButton {
    display: block;
    width: 100%;
    border: none;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

/* Contact Page */

.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
}








/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .page {
        width: 80%;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .image {
        display: flex;
        width: 50%;
    }

    .page {
        width: 45%;
    }
}
